anyio==3.5.0; python_full_version >= "3.6.2" and python_version >= "3.6"
cfgv==3.3.1; python_full_version >= "3.6.1"
colorama==0.4.4; python_version >= "3.5" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.5" and python_full_version >= "3.5.0"
distlib==0.3.4; python_full_version >= "3.6.1"
dynaconf==3.1.7; python_version >= "3.7"
filelock==3.6.0; python_version >= "3.7" and python_full_version >= "3.6.1"
halo==0.0.31; python_version >= "3.4"
identify==2.4.10; python_version >= "3.7" and python_full_version >= "3.6.1"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.6"
log-symbols==0.0.14; python_version >= "3.4"
loguru==0.5.3; python_version >= "3.5"
nodeenv==1.6.0; python_full_version >= "3.6.1"
pika==1.2.0
platformdirs==2.5.0; python_version >= "3.7" and python_full_version >= "3.6.1"
pre-commit==2.17.0; python_full_version >= "3.6.1"
pyyaml==6.0; python_version >= "3.6" and python_full_version >= "3.6.1"
sh==1.14.2
six==1.16.0; python_full_version >= "3.6.1" and python_version >= "3.4"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
spinners==0.0.24; python_version >= "3.4"
sse-starlette==0.10.3; python_version >= "3.6"
starlette==0.18.0; python_version >= "3.6"
termcolor==1.1.0
toml==0.10.2; python_full_version >= "3.6.1"
typing-extensions==4.1.1; python_version < "3.10" and python_version >= "3.6"
virtualenv==20.13.1; python_full_version >= "3.6.1"
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
anyio==3.5.0; python_full_version >= "3.6.2" and python_version >= "3.6"
astroid==2.9.3; python_full_version >= "3.6.2"
atomicwrites==1.4.0; python_version >= "3.6" and python_full_version < "3.0.0" and sys_platform == "win32" or sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.4.0"
attrs==21.4.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
autoflake==1.4
autopep8==1.5.7
black==21.12b0; python_full_version >= "3.6.2"
cfgv==3.3.1; python_full_version >= "3.6.1"
click==8.0.3; python_version >= "3.6" and python_full_version >= "3.6.2"
colorama==0.4.4; sys_platform == "win32" and python_version >= "3.6" and python_full_version >= "3.6.2" and (python_version >= "3.4" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.4") and platform_system == "Windows"
distlib==0.3.4; python_full_version >= "3.6.1"
dynaconf==3.1.7; python_version >= "3.7"
filelock==3.6.0; python_version >= "3.7" and python_full_version >= "3.6.1"
flake8==3.9.2; (python_version >= "2.7" and python_full_version < "3.0.0") or (python_full_version >= "3.5.0")
halo==0.0.31; python_version >= "3.4"
identify==2.4.10; python_version >= "3.7" and python_full_version >= "3.6.1"
idna==3.3; python_full_version >= "3.6.2" and python_version >= "3.6"
iniconfig==1.1.1; python_version >= "3.6"
isort==5.10.1; python_full_version >= "3.6.1" and python_version < "4.0"
lazy-object-proxy==1.7.1; python_version >= "3.6" and python_full_version >= "3.6.2"
log-symbols==0.0.14; python_version >= "3.4"
loguru==0.5.3; python_version >= "3.5"
mccabe==0.6.1; python_full_version >= "3.6.2"
mypy-extensions==0.4.3; python_full_version >= "3.6.2" and python_version >= "3.5"
mypy==0.910; python_version >= "3.5"
nodeenv==1.6.0; python_full_version >= "3.6.1"
packaging==21.3; python_version >= "3.6"
pathspec==0.9.0; python_full_version >= "3.6.2"
pika==1.2.0
platformdirs==2.5.0; python_version >= "3.7" and python_full_version >= "3.6.2"
pluggy==1.0.0; python_version >= "3.6"
pre-commit==2.17.0; python_full_version >= "3.6.1"
py==1.11.0; python_version >= "3.6" and python_full_version < "3.0.0" or python_full_version >= "3.5.0" and python_version >= "3.6"
pycodestyle==2.7.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pyflakes==2.3.1; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.5.0"
pylint==2.12.2; python_full_version >= "3.6.2"
pyparsing==3.0.7; python_version >= "3.6"
pytest==6.2.5; python_version >= "3.6"
pyyaml==6.0; python_version >= "3.6" and python_full_version >= "3.6.1"
sh==1.14.2
six==1.16.0; python_full_version >= "3.6.1" and python_version >= "3.4"
sniffio==1.2.0; python_full_version >= "3.6.2" and python_version >= "3.6"
spinners==0.0.24; python_version >= "3.4"
sse-starlette==0.10.3; python_version >= "3.6"
starlette==0.18.0; python_version >= "3.6"
termcolor==1.1.0
toml==0.10.2; python_full_version >= "3.6.2" and python_version >= "3.6" and (python_version >= "3.5" and python_full_version < "3.0.0" or python_full_version >= "3.3.0" and python_version >= "3.5") and (python_version >= "2.6" and python_full_version < "3.0.0" or python_full_version >= "3.3.0")
tomli==1.2.3; python_version >= "3.6" and python_full_version >= "3.6.2"
typing-extensions==4.1.1; python_version >= "3.6" and python_full_version >= "3.6.2" and python_version < "3.10"
virtualenv==20.13.1; python_full_version >= "3.6.1"
win32-setctime==1.1.0; sys_platform == "win32" and python_version >= "3.5"
wrapt==1.13.3; python_full_version >= "3.6.2"
